.main {
  width: 100%;
  min-height: 100vh;
  padding-block-start: 3.25rem;
  padding-block-end: 8.4375rem;
  background-color: var(--background-dark);
  position: relative;
}

.container {
  width: min(100% - 1.5rem, 50rem);
  margin-inline: auto;
}

.footer_text {
  color: var(--clr-light);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer_text a {
  color: var(--clr-light);
  cursor: pointer;
}

.username {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 64rem) {
  .container {
    width: min(100% - 4.5rem, 50rem);
    margin-inline: auto;
  }

  .main {
    margin-inline-start: 28.6875rem;
  }

  .username {
    font-size: 1.3rem;
  }
}
