.card {
  width: 100%;
  padding-block-start: 1.375rem;
  padding-block-end: 2.375rem;
  background-color: var(--background-bluish);
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.data {
  font-size: 4rem;
  font-weight: 700;
}

.data span {
  font-size: 2rem;
  font-weight: 500;
}

.card p {
  font-size: 0.875rem;
}

.card svg {
  color: var(--background-gray);
  margin-inline-end: 1rem;
}
